@import "vars";

.nav {
  background: rgba(255, 255, 255, 0);
  width: 100%;
  z-index: 10;
  position: fixed;

  &__wrapper {
    padding: 10px $wrapper-padding-lr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-exo;
  }

  &__logo {
    //background-image: url("../../../assets/images/icons/evoband-logo-black.svg");
    width: 115px;
    //height: 58px;
    pointer-events: none;
  }

  &__links {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__route {
    outline: none;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.05rem;
    transition: font-size 0.2s ease-in-out;
  }

  &__button {
    outline: none;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    background: $button-color;
    cursor: pointer;
    font-family: $font-family-exo;
    font-weight: 400;
    padding: 10px 20px;
  }
}


@media (min-width: 860px) and (max-width: 1080px) {
  .nav {
    &__route {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 860px) {
  .nav {
    position: relative;
    background: rgba(255, 255, 255);
    &__links {
      position: absolute;
      top: 101%;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255);
      padding: 30px;
      box-shadow: 0 0 3px 0 #cccccc;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
    &__link {
      padding-bottom: 1.3rem;
    }
    &__route {
      color: #000000;
    }
    &__button {
      color: #ffffff;
    }
  }
}
