@import "vars";

.nav {
  background: rgba(255, 255, 255, 0);
  width: 100%;
  z-index: 10;
  position: fixed;
  transition: background 0.3s ease-in-out;

  &--scroll {
    background: #ffffff;
    box-shadow: $header-shadow
  }

  &__wrapper {
    padding: 10px $wrapper-padding-lr;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-family-exo;
  }

  &__logo {
    mask: url("../../../../assets/images/icons/evoband-logo-white.svg") 50% / cover no-repeat;
    background-color: #ffffff;
    width: 115px;
    height: 58px;
    display: block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s ease-in-out;

    &--scroll {
      background-color: #000000;
    }
  }

  &__logo-image {
    width: 115px;
  }

  &__links {
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__route {
    outline: none;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    font-size: 1.05rem;
    transition: font-size 0.2s ease-in-out;

    &--scroll {
      color: #000000;
    }
  }

  &__button {
    outline: none;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    background: $button-color;
    cursor: pointer;
    font-family: $font-family-exo;
    font-weight: 400;
    padding: 10px 20px;
  }
}


@media (min-width: $media-860px) and (max-width: 1080px) {
  .nav {
    &__route {
      font-size: 0.7rem;
    }
  }
}

@media (max-width: $media-860px) {
  .nav {
    background: rgba(255, 255, 255);
    box-shadow: $header-shadow;
    &__logo {
      background-color: #000000;
      z-index: 10;
    }
    &__links {
      position: absolute;
      overflow: scroll;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255);
      padding: 30px 25px 100px;
      opacity: 0;
      box-shadow: 0 0 3px 0 #cccccc;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      margin-top: 78px;
      margin-left: -100%;
      transition: all 0.3s ease-in-out;

      &--active {
        opacity: 1;
        margin-left: 0;
      }
    }
    &__link {
      padding-bottom: 1.3rem;
    }
    &__route {
      color: #000000;
    }
    &__button {
      color: #ffffff;
    }
  }
}

.no-scroll {
  overflow: hidden;
}
