<!--<section class="home">-->
<!--  <div class="container">-->
<!--    <div class="home__wrapper">-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="background"></section>

<section class="about">
  <div class="container">
    <div class="about__wrapper">
      <div class="about__text-block">
        <div class="about__text">
          <h2 class="about__title">Биография</h2>
          <p class="about__description"><span class="about__name">EVO (Eternal Voice of Orbits)</span> -  российская музыкальная группа, образованная 12 мая 2009 года в городе Северодвинск, и представляющая жанр — транскор. Коллектив получил большую популярность на отечественной сцене за счёт своего неповторимого стиля, используя в своих песнях яркие сплавы гитар с электронными и 8-битными сэмплами, а также симбиоз чистого и экстрим вокала с рэпом. В настоящее время группа выпустила 8 полноформатных альбомов, последний из них — «Песчинка в Галактике» вышел 21 сентября 2019 года.</p>
        </div>
        <a routerLink="/about" type="button" class="about__more">Подробнее...</a>
      </div>
      <img src="../../../assets/images/img/home/about-group.png" alt="evo band" class="about__image">
    </div>
  </div>
</section>
